.about-page {
  .divider-box {
    width: 350px;
    min-width: 100px;

    .ant-divider-horizontal.ant-divider-with-text {
      border-top: #fff !important;
    }
  }

  .about-me {
    height: auto;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 20px 0;

    .my-info {
      width: 60%;
      height: 100%;

      p {
        width: 90%;
        color: #8892b0;
        font-size: 18px;
        letter-spacing: 0.2px;
        margin-bottom: 20px;
      }

      ul {
        padding-left: 22px;

        li {
          color: #8892b0;
          font-size: 18px;

          &::marker {
            color: #64ffda;
          }
        }
      }
    }

    .my-photo {
      width: 40%;
      height: 100%;

      img {
        width: 100%;
        border-radius: 45px;
      }
    }
  }
}


/* ==================== */
@media (min-width:0) and (max-width:446.9px) {
  .about-me {
    flex-direction: column-reverse;

    .my-info {
      width: 100% !important;
      height: 100%;
      margin-top: 20px;

      p {
        width: 100%;
        font-size: 17px;
        margin-bottom: 20px;
      }

      ul {
        padding-left: 22px;

        li {
          font-size: 17px;

        }
      }
    }

    .my-photo {
      width: 100% !important;
      height: 100%;
    }
  }
}

@media (min-width:447px) and (max-width:768.9px) {
  .about-me {
    flex-direction: column-reverse;
  }

  .about-me .my-info {
    width: 100% !important;
    height: 100%;
    margin-top: 20px;
  }

  .about-me .my-photo {
    width: 100% !important;
    height: 100%;
  }

  .about-me .my-info p {
    width: 100%;
    font-size: 17px;
    margin-bottom: 20px;
  }

  .about-me .my-info ul {
    padding-left: 22px;
  }

  .about-me .my-info ul li {
    font-size: 17px;
  }
}

@media (min-width:769px) and (max-width:989.9px) {
  .about-me .my-info {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-right: 20px;
  }

  .about-me .my-photo {
    width: 100%;
    height: 100%;
  }

  .about-me .my-photo img {
    width: 90%;
  }

  .about-me .my-info p {
    width: 100%;
    font-size: 17px;
    margin-bottom: 20px;
  }

  .about-me .my-info ul {
    padding-left: 22px;
  }

  .about-me .my-info ul li {
    font-size: 17px;
  }
}