header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10 !important;
}

.sticky {
  transition: all 0.3s linear;
  height: 70px;
  z-index: 10;
  backdrop-filter: blur(10px);
  pointer-events: auto;
  box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
}

.navbar {
  position: fixed;
  height: 80px;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 40px;
  transition: all 0.5s linear;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.navbar-logo-brand {
  width: auto;
  height: 100%;
}

.navbar-logo-brand a {
  cursor: pointer;
  height: 100%;
}

.navbar-logo-brand a img {
  width: auto;
  height: 90%;
}

.navbar-menu-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto
}

.navbar-menu-item {
  display: flex;
  align-items: center;
}

.navbar-menu-item div h4,
.navbar-menu-item h4 a {
  font-weight: bold;
  text-decoration: none;
  color: #ccd6f6;
  letter-spacing: 0.6px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.navbar-menu-item h4 a {
  font-size: 16px;
}

.navbar-menu-item h4 a span {
  color: #64ffda;
  font-weight: normal;
}

.navbar-menu-item h4 {
  margin: 0 10px;
  font-weight: normal;
  cursor: pointer;
}

.navbar-menu-item div {
  margin: 0 10px;
}

.blur-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0b1629;
  opacity: 0.7;
  transform: translateX(-100%);
  transition: all 0.7s ease;
  filter: blur(3px);
  backdrop-filter: blur(10px);
  z-index: 3;
}

.blur-back-show {
  transform: translateX(0%);
  transition: all 0.7s ease;
  filter: blur(10px);
}

@media only screen and (max-width: 990px) {

  .navbar-menu-group {
    position: absolute;
    background-color: #112240;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: all 0.7s ease;
    padding-top: 70px;
    z-index: 10;
    filter: none !important;
  }

  .bar {
    background-color: #64ffda;
  }

  .hamburger {
    display: block;
    z-index: 10;
  }

  .navbar-menu-item {
    flex-direction: column;
    height: 60%;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .navbar-menu-item div {
    padding: 20px 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .nav-active {
    transform: translateX(0%);
    transition: all 0.7s ease;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (min-width:0) and (max-width:446.9px) {
  .navbar-menu-group {
    width: 70%;
  }

  .navbar-logo-brand {
    width: auto;
  }

  .navbar-logo-brand img {
    width: 100%;
  }
}

@media (min-width:447px) and (max-width:768.9px) {
  .navbar-logo-brand {
    width: auto;
  }

  .navbar-menu-group {
    width: 50%;
  }

  .navbar-logo-brand img {
    width: 100%;
  }
}

@media (min-width:769px) and (max-width:989.9px) {
  .navbar-logo-brand {
    width: auto;
  }

  .navbar-logo-brand img {
    width: 100%;
  }

  .navbar-menu-group {
    width: 40%;
  }

}

@media (min-width:990px) and (max-width:1199.9px) {
  .navbar-logo-brand {
    width: auto;
  }

  .navbar-menu-group {
    width: 85%;
  }
  .navbar-logo-brand img {
    width: 100%;
  }
}