.right-email-block {
  right: 0;
}

.email-name {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 70%;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 150px;
}

.email-name a {
  transform: rotate(90deg);
  text-decoration: none;
  color: #a8b2d1;
  letter-spacing: 1px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}


@media only screen and (max-width: 769px) {
  .right-email-block {
    display: none;
  }
}


